.caja-c{
    border: 12px dashed blue;
    outline: red solid 5px;
}
h1{
    text-decoration: overline;
}
h2{
    text-decoration: underline;
}
h3{
    text-decoration: line-through;
    text-decoration-line: ;
}
h4{
    text-decoration: overline underline line-through;
    text-decoration-color: blue;
}
img{
    float: inherit;
}
.a{
    text-align: center;
}
.b{
    text-align: left;
}
.c{
    text-align: right;
}
.d{
    text-align: justify;
}